/*css demo*/
/* colors - body: #07E308, */
/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }




/*responsive images*/
img{
  max-width: 100%;
}


/*UTIL classes*/

.container{
  width: 75vw;
  max-width: 960px;
  margin: 50px auto;
}

.img-right{
  float: right;
  border: 5px solid #07E308;
  padding: 10px;
  margin: 10px 0 10px 20px;
  border-radius: 200px;
}

.img-left{
  float: left;
  border: 5px solid #07E308;
  padding: 10px;
  margin: 10px 20px 10px 0px;
  border-radius: 400px;
}

.img-center{
  display: block;
  margin: 30px auto; /*auto centers it*/
  border: 5px solid #07E308;
  padding: 10px;
  border-radius: 300px;
}

.img-none{
  float:none;
  border: 20px;
  padding: 10px;
  border-radius: 10px;
}

body{
    background-color: #07E308;
    font-family: "Roboto", sans-serif; /*font*/
    font-weight: 300;
    font-style: normal;
    margin:0;
}

header.primary{  /*targets primary header*/
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='70' height='46' viewBox='0 0 70 46'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpolygon points='68 44 62 44 62 46 56 46 56 44 52 44 52 46 46 46 46 44 40 44 40 46 38 46 38 44 32 44 32 46 26 46 26 44 22 44 22 46 16 46 16 44 12 44 12 46 6 46 6 44 0 44 0 42 8 42 8 28 6 28 6 0 12 0 12 28 10 28 10 42 18 42 18 28 16 28 16 0 22 0 22 28 20 28 20 42 28 42 28 28 26 28 26 0 32 0 32 28 30 28 30 42 38 42 38 0 40 0 40 42 48 42 48 28 46 28 46 0 52 0 52 28 50 28 50 42 58 42 58 28 56 28 56 0 62 0 62 28 60 28 60 42 68 42 68 0 70 0 70 46 68 46'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-color: #07E308;
    color: #ffffff; /*font color*/
    text-align: center;
    text-shadow: 10px 5px 8px #000000;
    padding: 30px 12px;
    margin: 0;
}

header.primary h1{
  font-size: 10rem;

  margin: 3px;
}

header.primary h1 a{
  color: #cf7922;
  text-decoration: none;
}

header.primary h2{
  font-size: 5rem;
  margin: 20px 0 0;
}

header.primary nav.primary{
  max-width: 960px;
  margin: auto;
}

header.primary nav.primary ul{
  display:flex;/*lists*/
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: space-around;
  background:greenyellow;
}

header.primary nav.primary ul li{
  list-style-type: lower-greek;
  background-color: rgb(217, 108, 141);
  font-size: larger;
  padding: 1px;
  border-radius: 20px;
}

header.primary nav.primary ul li a{
  color:#ffffff;
  text-decoration: none;
  border: 3px double #92c91b;
  padding: 18px 10px;
  background-color: rgba(126, 142, 157, 0.5);
  border-radius: 50px;
  transition: 1s;
}

header.primary nav.primary ul li a:hover{
  background-color: rgba(163, 49, 49, 0.7);
  background-size: auto;
}

section.container#content{
  background-color: rgb(94, 42, 23);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: overline;
  margin:auto;
}

section.container#content h2{
  background-size: contain;
  color:#bc3b88;
  border-bottom: 5px dotted #ffffff;
}

section.container#content p{
  color:#c5ca39;
  text-rendering: optimizeLegibility;
  text-indent: 50px;
}

section.container#content h3{
  border:10px dotted #966bbc;
  background-size: contain;

}

#content{
  line-height: 1.3;/*line spacing*/
}

section.container#blog{
  color-interpolation-filters: sRGB;
  background-color: #616310;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  flex-direction: column-reverse;/*row is default*/
  border-top: 5px solid #616310;
  padding: 10px 0 0 0;
  border-bottom: 5px solid #616310;
  padding: 10px 0 0 0;
  gap: 1rem;
}

#blog article.post {
  box-shadow: 40px rgba(109, 168, 57, 0.75);
  text-indent: 25px;
  padding: 8px;
  border-radius: 20px;
  transition: 1s;
}


#blog figure{
  margin: 0;
}


#blog figcaption, time.post-date {
  /*for settings, both included*/
  text-transform: lowercase;
  font-size: 0.8rem;
  color: lightpink;
}


#blog article.post:hover {
  box-shadow: 20px 2px 2px 20px rgba(109, 168, 57, 0.75);
}

#blog .post a{
  color:#f8a3d6;
}section.container#blog

#practice h2{
  color:#cf7922;
  border-bottom: 11px double #dc2392;
}

#practice p{
  text-indent: 40px;
}

#practice a{
  color:#000000;
  transition: 1s;
}

#practice a:hover{
  text-decoration: none;
}

#practice h3{
  border-left: 10px solid rgb(55, 55, 155);
  padding: 6px 0 6px 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 30px;
  text-align: center;
}

table{
  width: 90%;
  border: 5px solid purple;
  border-collapse: collapse; /*stops double border*/
}

caption{
  text-decoration: wavy;
  font-weight: bolder;
  font-size: 1.5rem;
}

tr:nth-child(even){
  background-color: #966bbc;
  transition: 0.5s;
}

tr:nth-child(odd){
  background-color: #ffffff;
  text-rendering: auto;
  transition: 0.5s;
}

tr:hover{
  background-color: #db6666;
  text-decoration: underline;
}

tr:first-of-type:hover{
  background-color: #966bbc;
  text-decoration: underline;
}

tr:last-of-type:hover{
  background-color: #ffffff;
  text-decoration: underline;
}

th{
  background-color: #c5ca39;
  padding: 15px;
}

td{
  border: 5px solid purple;
  padding: 5px;
  gap: 10px;
}

td:nth-child(n+2){/*right align numerical values
  n+2 every other column after the 1st column*/
  text-align: right;
}

#practice [href^="#"]{ /*targets the href beginning in #*/
  background-color: brown;
  font-stretch:extra-expanded;
  border-bottom-right-radius: 20px;
}

#practice ol{
  list-style-type: upper-roman;
}

#practice ul li ul{
  list-style-type: decimal;
  margin-left: 20px;
}

#practice ul li{
  transition: 0.5s;
}
#practice ul li:hover{
  list-style-type: square;
}

#practice dl dt{
  font-weight: bold;
}

#practice dl dd{
  margin:auto;
}

#practice dd + dt{ /*selects all dd's that follow a dt*/
  margin-top: 15px;
  color: red;
}

#practice dt + dd{ /*selects all dt's that follow a dd*/
  margin-top: 15px;
  color: blue;
}

#practice dl{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
  background-color: rgba(163, 49, 49, 0.2);
}

#practice h4{
  text-indent: 30px;
  font-size: larger;
  font-weight: bolder;
}

#practice blockquote{
  border: 20px double rgba(126, 142, 157, 0.5);
  line-height: 2; /*text spacing*/
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  padding: 10px;
}

#practice blockquote b{
  font-stretch: expanded;
  font-weight: bold;
  font-size: larger;
  font-style: italic;
}

aside .container{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items:first baseline;
  gap: 0.4rem;
}


aside[role="complementary"]{/*[] attribute selector can be used for any attribute*/
  background-color: #7a2323b2;
  padding: 20px 20px;
}

aside article.widget{
  background-color: #b9a5d6;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='88' viewBox='0 0 88 88'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M29.42 29.41c.36-.36.58-.85.58-1.4V0h-4v26H0v4h28c.55 0 1.05-.22 1.41-.58h.01zm0 29.18c.36.36.58.86.58 1.4V88h-4V62H0v-4h28c.56 0 1.05.22 1.41.58zm29.16 0c-.36.36-.58.85-.58 1.4V88h4V62h26v-4H60c-.55 0-1.05.22-1.41.58h-.01zM62 26V0h-4v28c0 .55.22 1.05.58 1.41.37.37.86.59 1.41.59H88v-4H62zM18 36c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H20a2 2 0 0 1-2-2zm0 16c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H20a2 2 0 0 1-2-2zm16-26a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zM34 58a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zM34 78a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-6zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-6zM34 4a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2V4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2V4zm-8 82a2 2 0 1 1 4 0v2h-4v-2zm0-68a2 2 0 1 1 4 0v10a2 2 0 1 1-4 0V18zM66 4a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0V4zm0 72a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0v-8zm-48 0a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0v-8zm0-72a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0V4zm24-4h4v2a2 2 0 1 1-4 0V0zm0 60a2 2 0 1 1 4 0v10a2 2 0 1 1-4 0V60zm14-24c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H58a2 2 0 0 1-2-2zm0 16c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H58a2 2 0 0 1-2-2zm-28-6a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 26a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM36 20a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm-8-8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 68a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16-34a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16-12a2 2 0 1 0 0 4 6 6 0 1 1 0 12 2 2 0 1 0 0 4 10 10 0 1 0 0-20zm-64 0a2 2 0 1 1 0 4 6 6 0 1 0 0 12 2 2 0 1 1 0 4 10 10 0 1 1 0-20zm56-12a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 48a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm-48 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-48a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm24 32a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-4a6 6 0 1 0 0-12 6 6 0 0 0 0 12zm36-36a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM10 44c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm56 0c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm8 24c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zM3 68c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4H5a2 2 0 0 1-2-2zm0-48c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4H5a2 2 0 0 1-2-2zm71 0c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm6 66a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM8 86a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-68A6 6 0 1 1 8 2a6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm36 36a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'/%3E%3C/g%3E%3C/svg%3E");
}

aside article.widget a{
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 10px 5px 8px #92c91b;
  color: #d71489;
}

aside article.widget a:last-of-type{/*last element in list of sibling elements*/
  display: block;
  margin-bottom: 15px;
  text-align: left;
  color: #9f0f65;
}

aside article.widget a:visited{/*visited link*/
  background-color: #ffffff;
  color: #e6ff05;
  text-decoration: none;
}

aside article.widget footer{
  text-indent: 25px;
}

aside article.widget h2{
  border-bottom: 15px groove #1b92c9;
  background-color: rgb(200, 40, 40);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");
}

aside article.widget p{
  text-decoration: wavy;
  font-style: oblique;
}

article.widget footer{
  text-align: center;
  color:rgb(59, 209, 0);
  background-color: #000000;
}
footer#colophon{
  background-color: rgba(62, 226, 188, 0.503);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: right;
  background-attachment: scroll;
  color: #84B026;
  font-size: 1.5rem;
  text-align: right;
}

footer#colophon h6{
  font-style: italic;
  color:#000000;
}

/*media quieres*/
/*for different screen sizes*/
@media screen and (max-width: 500px){
  header.primary nav.primary ul{
    display:flex;
    flex-direction: column;
    gap: 40px;
  }

  header.primary nav a{
    display:block;
    margin:auto;
  }

  #section.container#blog{
    text-align: center;
    gap: 50px;
  }

  aside .container{
    display:flex;
    flex-direction: column;
  }
}
