/*colors: 
main background: #BAECD8
head: #AAB6BF
header background: #7C9BF7
image background: #7CE9F7
paragraphs: #7CF7B3
footer, misc.: #CEF3F7


/*responsive images*/
img{
    max-width: 100%;
  }

  